.index-page {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 360px 1fr;
    height: 100%;

    &--sidebar {
        border-right: 1px solid rgba(32, 31, 30, 0.12);
    }

    &--header {
        font-size: 18px;
        font-weight: bold;
        padding: 20px 16px;
    }

    &--content {
    }
}
